{%extends 'base.html'%}{% block content %}

 <div class="product">
   <div class="left-img2"><img src="{{image.image.url}}"  class="img-responsive" alt=""></div>
   <div class="right-content">
     <div class="content-arrow"></div>
     <div class="content-container">
       <p>{{image.image_name|upper}}</p>
       <div class="bot-view">
         <div class="date">{{image.time_uploaded}} /&nbsp<span class="under">{{image.image_location}}</span>
        </div>
        <hr class="line" />
        <div>
          <span>{{image.image_description}}</span>
        </div>
        <hr class="line" />
        <div class="footer">
          <div class="buttons">
            <a href="#" class="btn btn-default btn-block">Copy Image link &nbsp <i class="glyphicon glyphicon-paperclip"></i></a>
          </div>
          <p>{{image.image_category}}</p>
        </div>
       </div>
     </div>
   </div>
 </div>

 {% endblock %}



 <!-- {%extends 'base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     <img src="{{image.image.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <h1 class="text-center">{{image.image_category}}</h1>
   </div>

   <div class="row">
     <p>{{image.post}}</p>
   </div>

   <div class="row">
     <p>Posted {{image.pub_date|timesince}} by {{image.editor.first_name}}</p>
   </div>

 </div>

 {% endblock %} -->