{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <!--Looping through pictures-->
    {% for pictures_item in pictures %}
    <div class="row">
        <!--displaying pictures Images image-->
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{pictures_item.image.url}}" class="img-responsive" alt="Image">
    </div>

    {% empty %}
    <div class="row">
        <h2 class="text-center">No Images Here Yet</h2>
    </div>
    {% endfor %}
</div>
{% endblock %}