{%extends 'base.html'%} {% block content %}
<div class="container">
    <section class="no-touch">

  <div class="wrap">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
      {% for image_item in images %}
      <a href="{{% url 'image' image_item.id %}}">
         <div class="box">
          <div class="boxInner">
              <img src="{{image_item.image_url}}" class="img-responsive" alt="">
          </div>
      </div> 
      </a>
      
    {% endfor %}
    {% else %}
    <div class="wrap">
        <h1 class="text-center">No Images found with that category</h1>
    </div>
    {% endif %}
  </div>

  </section>
</div>

{% endblock %}